@media screen and (max-width: 1295px) {
    .TLien2 {
      margin-left: 35%;
    }
    .groupDetailsHebergements {
      min-height: 150px;
    }
    .THebergements {
      min-height: auto;
      padding: 20px;
    }
    .TPopulaires {
      min-height: auto;
      padding: 20px;
    }
    .tabletteTTitrePop {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 990px) {
    .mobileFiltreWrap {
      flex-direction: column;
      align-items: flex-start;
    }
    .filtreTexteIcons {
      margin-bottom: 20px;
    }
    #hebergements {
      flex-direction: column-reverse;
      width: 100%;
    }
    .elementPopulaires {
      flex: none;
      width: 90%;
      margin-left: 0;
      padding: 5%;
    }
    .elementHebergements {
      flex: none;
      width: 90%;
      margin-right: 0;
      margin-top: 50px;
      padding: 5%;
    }

    .elementActivites {
      width:100%;
    }
    .groupDetailsHebergements{
      min-height: auto;
    }
    .elementActivites{
      flex-direction: column;
     height: auto;
     
    }
    .groupActivites{
      width: 100%;
      margin-bottom: 50px;
    }
    .elementActivites2356{
      width: 100%;
      height: auto;
    }
    .groupActivites2356{
      width: 100%;
      margin-bottom: 50px;
    }
    .imgActivites1,
    .imgActivites2,
    .imgActivites3,
    .imgActivites4,
    .imgActivites5,
    .imgActivites6{
      height: 200px;
    }
  .imgActivites2,
  .imgActivites3,
  .imgActivites5,
  .imgActivites6{
    width:100%;
  }
  }
  @media screen and (max-width: 780px){
   .TLiens{
    width: 90%;
  
  }
  .TLien2{
    margin-left: 20%;
  }
  .elementHebergements{
   height: auto;
   width: 90%;
  }
  .bloc1{
    flex-direction: column;
    margin-bottom: 0%;
  }
  .bloc2{
   flex-direction: column;
   margin-top: 0%;
  }
  .groupHebergements{
    width: 90%;
    margin-bottom: 50px;
  }
  .groupDetailsHebergements{
    min-height: auto;
    width: 90%;
    margin-right: 20px;
  }

  .elementPopulaires{
    width: 80%;
  }
  .elementActivites{
    flex-direction: column;
    height: auto;
    width: 90%;
  }
  .groupActivites{
    width: 100%;
    margin-bottom: 50px;
  }
  .elementActivites2356{
    width: 100%;
    height: auto;
  }
  .groupActivites2356{
    width: 100%;
    margin-bottom: 50px;
  }
  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6{
    height: 200px;
  }
  .footer{
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 20px;
  }
  .margeBlocFoot1{
    margin-left:0 ;
  }

  }
  
  @media screen and (max-width: 700px) {
  .TLiens{
    width: 90%;
  
  }
  .TLien2{
    margin-left: 20%;
  }
  .elementHebergements{
  height: auto;
  }
  .bloc1{
    flex-direction: column;
    margin-bottom: 0%;
  }
  .bloc2{
   flex-direction: column;
   margin-top: 0%;
  }
  .groupHebergements{
    width: 100%;
    margin-bottom: 50px;
  }
  .groupDetailsHebergements{
    min-height: auto;
  }
  .elementActivites{
    flex-direction: column;
   height: auto;
   
  }
  .groupActivites{
    width: 100%;
    margin-bottom: 50px;
  }
  .elementActivites2356{
    width: 100%;
    height: auto;
  }
  .groupActivites2356{
    width: 100%;
    margin-bottom: 50px;
  }
  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6{
    height: 200px;
  }
  .footer{
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 20px;
  }
  .margeBlocFoot1{
    margin-left:0 ;
  }
  
  }
  
  @media screen and (max-width: 600px){
  
  .TLien2{
    order: 1; 
    width: 100%;
    margin-left: 0;
    margin-top: -80px;
    
  
  }
  .barrel{
    border-bottom: 3px solid #f2f2f2;
    
  }
  
  .TLienMobile{
   width: 50%;
   border-top: 0;
   
  }
  .Lieninscrit{
    position: relative;
    bottom:80px;
    left: 230px;
  }
  .TLiens{
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  .TLienMobile:hover{
   border-top: 0;
   border-bottom: 5px solid #0065fc ;
  }
  
  .bordureSearch{
    width: auto;
    border: none;
  }
  .recherche{
    width: 200px;
    border-bottom: 1px solid #f2f2f2;
    border-top:1px solid #f2f2f2 ;
  }
  .buttonSearch{
    width: 50px;
    border-radius: 15px; 
  }
  .desktopNone{
    display: block;
  }
  .mobileNone{
    display:None;
  }
  
  .margFiltre{
    padding-left: 5%;
  }
  
  .mobileEconomique{
   margin-right: 5px;
  }
  
  .mobileFamiliales{
   margin-right: 0;
  
  }
  .filtreTexte{
    padding-left: 10px;
    padding-right: 10px;
  }
  .info{
    padding-left:5px;
  }
  
  .elementHebergements{
    border-radius: 0;
  }
  
  .elementPopulaires{
    background-color: #f2f2f2;
  }
  
  .mobileTitrepara{
   padding-left: 5%;
   width: 90%;
  
  }
  .titreActivites h3{
    display: flex;
    justify-content: flex-start;
  }
  
  .elementActivites{
    padding: 5%;
   
  }
  .groupActivites{
    width: 100%;
    margin-bottom: 50px;
  }
  .elementActivites2356{
    width: 100%;
    height: auto;
  }
  .groupActivites2356{
    width: auto;
    margin-bottom: 50px;

  }
  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6{
    height: 200px;
  }

  .imgActivites2,
  .imgActivites3,
  .imgActivites5,
  .imgActivites6{
    width:100%;
  }


  html,body{
    margin: 0;
    padding: 0;
  }
  
  }
  @media screen and (max-width: 430px){
    .TLien2{
      order: 1; 
      width: 100%;
      margin-left: 0;
      margin-top: -80px;
      
    
    }
    .barrel{
      border-bottom: 3px solid #f2f2f2;
      
    }
    
    .TLienMobile{
     width: 50%;
     border-top: 0;
     
    }
    .Lieninscrit{
      position: relative;
      bottom:80px;
      left: 230px;
    }
    .TLiens{
      width:100%;
      flex-direction: row;
      flex-wrap: wrap;
    
    }
    .TLienMobile:hover{
     border-top: 0;
     border-bottom: 5px solid #0065fc ;
    }
    
    .bordureSearch{
      width: auto;
      border: none;
    }
    .recherche{
      width: 200px;
      border-bottom: 1px solid #f2f2f2;
      border-top:1px solid #f2f2f2 ;
    }
    .buttonSearch{
      width: 50px;
      border-radius: 15px; 
    }
    .desktopNone{
      display: block;
    }
    .mobileNone{
      display:None;
    }
    
    .margFiltre{
      padding-left: 5%;
    }
    
    .mobileEconomique{
     margin-right: 5px;
    }
    
    .mobileFamiliales{
     margin-right: 0;
    
    }
    .filtreTexte{
      padding-left: 10px;
      padding-right: 10px;
    }
    .info{
      padding-left:5px;
    }
    
    .elementHebergements{
      border-radius: 0;
    }
    
    .elementPopulaires{
      background-color: #f2f2f2;
    }
    
    .mobileTitrepara{
     padding-left: 5%;
     width: 90%;
    
    }
    .titreActivites h3{
      display: flex;
      justify-content: flex-start;
    }
    
    .elementActivites{
      padding: 5%;
     
    }
    .groupActivites{
      width: 80%;
      margin-bottom: 50px;
      margin-right: 40px;
    }
    .elementActivites2356{
      width: 80%;
      height: auto;
      margin-right: 40px;
    }
    .groupActivites2356{
      width: auto;
      margin-bottom: 50px;
  
    }
    .imgActivites1,
    .imgActivites2,
    .imgActivites3,
    .imgActivites4,
    .imgActivites5,
    .imgActivites6{
      height: 200px;
    }
  
    .imgActivites2,
    .imgActivites3,
    .imgActivites5,
    .imgActivites6{
      width:100%;
    

  }

  @media screen and (max-width: 390px){
    .TLien2{
      order: 1; 
      width: 100%;
      margin-left: 30px;
      margin-top: -80px;
      
    
    }
    .barrel{
      border-bottom: 3px solid #f2f2f2;
      
    }
    
    .TLienMobile{
     width: 50%;
     border-top: 0;
     
    }
    .Lieninscrit{
      position: relative;
      bottom:80px;
      left: 230px;
    }
    .TLiens{
      width:100%;
      flex-direction: row;
      flex-wrap: wrap;
    
    }
    .TLienMobile:hover{
     border-top: 0;
     border-bottom: 5px solid #0065fc ;
    }
    
    .bordureSearch{
      width: auto;
      border: none;
    }
    .recherche{
      width: 200px;
      border-bottom: 1px solid #f2f2f2;
      border-top:1px solid #f2f2f2 ;
    }
    .buttonSearch{
      width: 50px;
      border-radius: 15px; 
    }
    .desktopNone{
      display: block;
    }
    .mobileNone{
      display:None;
    }
    
    .margFiltre{
      padding-left: 5%;
    }
    
    .mobileEconomique{
     margin-right: 5px;
    }
    
    .mobileFamiliales{
     margin-right: 0;
    
    }
    .filtreTexte{
      padding-left: 10px;
      padding-right: 10px;
    }
    .info{
      padding-left:5px;
    }
    
    .elementHebergements{
      border-radius: 0;
      margin-left: 30px;
    }
    
    .elementPopulaires{
      background-color: #f2f2f2;
      margin-left: 30px;
    }
    
    .mobileTitrepara{
     padding-left: 5%;
     width: 90%;
    
    }
    .titreActivites h3{
      display: flex;
      justify-content: flex-start;
    }
    
    .elementActivites{
      padding: 5%;
     
    }
    .groupActivites{
      width: 80%;
      margin-bottom: 50px;
      margin-left: 40px;
    }
    .elementActivites2356{
      width: 80%;
      height: auto;
      margin-left: 40px;
    }
    .groupActivites2356{
      width: auto;
      margin-bottom: 50px;
  
    }
    .imgActivites1,
    .imgActivites2,
    .imgActivites3,
    .imgActivites4,
    .imgActivites5,
    .imgActivites6{
      height: 200px;
    }
  
    .imgActivites2,
    .imgActivites3,
    .imgActivites5,
    .imgActivites6{
      width:100%;
    }
    .footer{
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding-left: 30px;
      width: 100%;
    }



  }
  @media screen and (max-width: 365px){
    .TLien2{
      order: 1; 
      width: 100%;
      margin-left: 30px;
      margin-top: -80px;
      
    
    }
    .barrel{
      border-bottom: 3px solid #f2f2f2;
      
    }
    
    .TLienMobile{
     width: 50%;
     border-top: 0;
     
    }
    .Lieninscrit{
      position: relative;
      bottom:80px;
      left: 230px;
    }
    .TLiens{
      width:100%;
      flex-direction: row;
      flex-wrap: wrap;
    
    }
    .TLienMobile:hover{
     border-top: 0;
     border-bottom: 5px solid #0065fc ;
    }
    
    .bordureSearch{
      width: auto;
      border: none;
    }
    .recherche{
      width: 200px;
      border-bottom: 1px solid #f2f2f2;
      border-top:1px solid #f2f2f2 ;
    }
    .buttonSearch{
      width: 50px;
      border-radius: 15px; 
    }
    .desktopNone{
      display: block;
    }
    .mobileNone{
      display:None;
    }
    
    .margFiltre{
      padding-left: 5%;
    }
    
    .mobileEconomique{
     margin-right: 5px;
    }
    
    .mobileFamiliales{
     margin-right: 0;
    
    }
    .filtreTexte{
      padding-left: 10px;
      padding-right: 10px;
    }
    .info{
      padding-left:5px;
    }
    
    .elementHebergements{
      border-radius: 0;
      margin-left: 30px;
    }
    
    .elementPopulaires{
      background-color: #f2f2f2;
      margin-left: 30px;
    }
    
    .mobileTitrepara{
     padding-left: 5%;
     width: 90%;
    
    }
    .titreActivites h3{
      display: flex;
      justify-content: flex-start;
    }
    .elementPopulaires{
      width: 100%;
      margin-left: 40px;
    }
    .elementActivites{
      padding: 5%;
      width: 100%;
      margin-left: 40px;
     
    }
    .groupActivites{
      width: 80%;
      margin-bottom: 50px;
      margin-left: 40px;
    }
    .elementActivites2356{
      width: 80%;
      height: auto;
      margin-left: 60px;
    }
    .groupActivites2356{
      width: auto;
      margin-bottom: 50px;
  
    }
    .imgActivites1,
    .imgActivites2,
    .imgActivites3,
    .imgActivites4,
    .imgActivites5,
    .imgActivites6{
      height: 200px;
    }
  
    .imgActivites2,
    .imgActivites3,
    .imgActivites5,
    .imgActivites6{
      width:100%;
    }
    .footer{
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding-left: 30px;
      width: 100%;
    }



  }
  @media screen and (max-width: 376px){
    .TLien2{
      order: 1; 
      width: 100%;
      margin-left: 30px;
      margin-top: -80px;
      
    
    }
    .barrel{
      border-bottom: 3px solid #f2f2f2;
      
    }
    
    .TLienMobile{
     width: 50%;
     border-top: 0;
     
    }
    .Lieninscrit{
      position: relative;
      bottom:80px;
      left: 230px;
    }
    .TLiens{
      width:100%;
      flex-direction: row;
      flex-wrap: wrap;
    
    }
    .TLienMobile:hover{
     border-top: 0;
     border-bottom: 5px solid #0065fc ;
    }
    
    .bordureSearch{
      width: auto;
      border: none;
    }
    .recherche{
      width: 200px;
      border-bottom: 1px solid #f2f2f2;
      border-top:1px solid #f2f2f2 ;
    }
    .buttonSearch{
      width: 50px;
      border-radius: 15px; 
    }
    .desktopNone{
      display: block;
    }
    .mobileNone{
      display:None;
    }
    
    .margFiltre{
      padding-left: 5%;
    }
    
    .mobileEconomique{
     margin-right: 5px;
    }
    
    .mobileFamiliales{
     margin-right: 0;
    
    }
    .filtreTexte{
      padding-left: 10px;
      padding-right: 10px;
    }
    .info{
      padding-left:5px;
    }
    
    .elementHebergements{
      border-radius: 0;
      margin-right: 30px;
    }
    
    .elementPopulaires{
      background-color: #f2f2f2;
      margin-right: 30px;
    }
    
    .mobileTitrepara{
     padding-left: 5%;
     width: 90%;
    
    }
    .titreActivites h3{
      display: flex;
      justify-content: flex-start;
    }
    
    .elementActivites{
      padding: 5%;
      margin-right: 40px;
     
    }
    .groupActivites{
      width: 90%;
      margin-bottom: 50px;
      margin-right: 40px;
    }
    .elementActivites2356{
      width: 90%;
      height: auto;
      margin-right: 40px;
    }
    .groupActivites2356{
      width: 100%;
      margin-bottom: 50px;
      margin-right: 40px;
  
    }
    .imgActivites1,
    .imgActivites4{
      width: 100%;
    }
    .imgActivites1,
    .imgActivites2,
    .imgActivites3,
    .imgActivites4,
    .imgActivites5,
    .imgActivites6{
      height: 200px;
    }
  
    .imgActivites2,
    .imgActivites3,
    .imgActivites5,
    .imgActivites6{
      width:100%;
    }
    .footer{
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding-left: 30px;
      width: 100%;
    }



  }

}